@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);

#quoteBody {
  padding-top: 10px;
  background-color: #16a085;
  padding-bottom: 30px;
}

.quote {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  color: #16a085
}

.quote span {
  font-family: Franklin Gothic;
  font-size: 30px;
}

.quote i {
  font-size: 34px;
}


.quote p {
  font-family: Franklin Gothic;
  font-size: 20px;
  font-style: italic;
}

#quoteAuthor {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

#btn {
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #16a085;
  border-radius: 5px;
  border-color: #16a085;
  color: white;
  padding: 2.5px;
}
